version: "3.8"

services:
  streamlit:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: analyst-tools-app
    ports:
      - "8501:8501"
    volumes:
      - .:/app
      - ./.streamlit:/app/.streamlit
    restart: unless-stopped